
/* Setting panels: full-size <section role="region"> blocks */
section[role="region"] {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
overflow: hidden;
background-color: white;
}

/**
* bug 976299 non-visible regions take an extra layer
* in the layer tree. Remove them to improve scroll performance
* in exchange for a reflow on section transitions.
*
* bug 976630 non-visible regions should have a visibility of hidden
* for accessibility purposes. Removing the visibility transition
* in hidden->visible avoids flashing.
*/
section[role="region"]:not(:target) {
transform: translateX(+100%);
visibility: hidden;
}
section[role="region"]:not(:target).previous {
transform: translateX(-100%);
visibility: hidden;
}
section[role="region"]:not(:target).current {
transform: translateX(0);
visibility: visible;
}

/**
* Only use the animation when ready
*/
body[data-ready="true"] section[role="region"] {
transition: transform .4s ease, visibility .4s;
}
body[data-ready="true"] section[role="region"].current {
transition: transform .4s ease;
}

/**
 * Mainly for <progress>
 */
.hidden {
	visibility: hidden;
}

/**
 * Toolbars to the bottom
 */
[role="toolbar"] {
	position: absolute;
	bottom: 0;
	background: transparent;
}

/**
 * Toolbar icons color
 */
[role="toolbar"] [data-icon]:before, [role="toolbar"] .ligature-icons {
	color: white;
}

/**
 * Header inputs
 */
section > header input[type="text"],
section > header textarea {
	margin: 0.5rem 0 0;
	border-radius: 2rem;
}

/**
 * Main page list
 */
#index-itemslist-notchecked li.checked > span,
#index-itemslist-checked li > span {
	text-decoration: line-through;
	opacity: 0.5;
}

/* Master settings */
#settings-master-elements label input[type="checkbox"] + img {
	opacity: 0.2;
  border-radius: 0;
  transition: opacity 0.25s ease;
}
#settings-master-elements label input[type="checkbox"]:checked + img {
	opacity: 1;
}
