
/** Old paper style
 *
 */

[role="application"][data-style="old-paper"] [role="region"] {
  background: #f0e68c url(styles/grain.png);
}
[role="application"][data-style="old-paper"] [role="region"] .gaia-list header {
  background-color: transparent;
}
[role="application"][data-style="old-paper"] [role="region"] .gaia-list li:after {
  border-bottom-color: #8B4513;
}
/* END old paper */

/** Math class
 *
 */

[role="application"][data-style="math-class"] [role="region"] {
  background: url(styles/square_paper.png);
}
[role="application"][data-style="math-class"] [role="region"] .gaia-list header {
  background-color: transparent;
}
[role="application"][data-style="math-class"] [role="region"] .gaia-list li:after {
  background-color: transparent;
  position: relative;
}
[role="application"][data-style="math-class"] [role="region"] .gaia-list li:before {
  content: "\221a";
  position: absolute;
  top: 20%;
  left: 0.3em;
  color: #e66000;
}
[role="application"][data-style="math-class"] [role="region"] {
  font-family: monospace;
}
/* END Math class */


/** Surfing with the alien
 */
[role="application"][data-style="surfing-with-the-alien"] [role="region"] {
  background: #000;
}
[role="application"][data-style="surfing-with-the-alien"] [role="region"] .gaia-list header {
  color: #ff0;
  border-bottom-width: 0.2em;
  background-color: transparent;
}
[role="application"][data-style="surfing-with-the-alien"] [role="region"] .gaia-list li {
  color: #0f0;
}
/* END Surfing with the alien */


/** Nature style
 *
 */

[role="application"][data-style="nature"] [role="region"] {
  background-color: #00a800;
}
[role="application"][data-style="nature"] [role="region"] .gaia-list header {
  color: #8b4513;
  background-color: transparent;
}
[role="application"][data-style="nature"] [role="region"] .gaia-list li {
  color: #8b4513;
}
[role="application"][data-style="nature"] [role="region"] .gaia-list li:after {
  border-bottom-color: #8b4513;
}
/* END Nature */

/** Rainbow style
 *
 */

[role="application"][data-style="rainbow"] [role="region"] {
  background: #fff -moz-linear-gradient(left, red, orange, yellow, green, blue, navy, purple);
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list header {
  color: #fff;
  border-bottom: none;
  background-color: transparent;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:after {
  border-bottom-color: transparent;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+1) {
  background-color: red;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+2) {
  background-color: orange;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+3) {
  background-color: yellow;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+4) {
  background-color: green;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+5) {
  background-color: blue;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+6) {
  background-color: navy;
}
[role="application"][data-style="rainbow"] [role="region"] .gaia-list li:nth-child(7n+7) {
  background-color: purple;
}
/* END Rainbow */
